<section>
  <h2> Dashboard</h2>

  <form class="create-new-event">
    <div>
      <label for="event-title">Title</label>
      <input type="text" id="event-title" name="event-title" />
    </div>
    <div>
      <label for="event-description">Description</label>
      <input id="event-description" name="event-description" />
    </div>
    <div>
      <label for="event-date">Event Date</label>
      <input id="event-date" name="event-date" />
    </div>
    {{!-- make option select for locations array --}}
    <div>
      <label for="event-location">Event Location</label>
      <input id="event-location" name="event-location" />
    </div>

    <button type="submit" class="btn">Create</button>
  </form>
</section>




{{#if events.length}}
<section>
  <h2>My Events</h2>
   <table>
  <tr>
   <th style="border: 1px solid black;">Title</th>
   <th style="border: 1px solid black;">Date</th>
   <th style="border: 1px solid black;">Location</th>
   <th style="border: 1px solid black;">Username</th>
   <th style="border: 1px solid black;">Description</th>
   <th style="border: 1px solid black;">RSVP</th>
  </tr>

    {{#each events as |event|}}
    <tr>
      {{> events event}} 
    </tr>
    {{/each}}

  </table>
</section>
{{/if}}
<script src="/javascript/add-event.js"></script>
<script src="/javascript/delete-event.js"></script>
