<!-- Create Event Form -->
<section class="container">
  <form class="text-center border border-light p-4 create-new-event">
    <p class="h3 mb-2">Start a new contribution</p>
    <p class="lead">
      Lead the way to making a difference.
    </p>
    <!-- Event Title -->
    <input type="text" id="event-title" name="event-title" class="form-control mb-2" placeholder="Event Title">

    <!-- Event Description -->
    <textarea id="event-description" name="event-description" class="form-control mb-2" rows="2" placeholder="Event Description"></textarea>

    <!-- Event Date / Location -->
    <div class="form-row mb-2">
          <!-- Event Location -->
        <div class="col">
          <input type="text" id="event-location" name="event-location" class="form-control" placeholder="Event Location (FL)">
        </div>
          <!-- Event Date -->
        <div class="col">
          <input type="text" id="event-date" name="event-date" class="form-control" placeholder="Event Date (08/01/2021)">
        </div>
    </div>

    <!-- Create-Event Btn -->
    <button class="btn btn-primary my-4 btn-block create-new-event" type="submit">Create Event</button>
  </form>
</section>




<!-- Populate Events -->
{{#if events.length}}
<section class="container">
  <h2 class="text-center mb-4">Your Events</h2>
  <hr />
  <!-- Display Events -->
  <div class="row">
    {{#each events as |event|}}
<<<<<<< HEAD
    <tr>
      {{> events event}} 
    </tr>
=======
      {{> events event}}
>>>>>>> 19d18c6699636077602667e53e03ad418cadd7ed
    {{/each}}
  </div>
</section>
{{/if}}

<script src="/javascript/add-event.js"></script>
<script src="/javascript/delete-event.js"></script>
