{{!-- 
<section class="heading">
    <h2>Edit Events</h2>
</section>

<section class="update-delete">
    <div class="delete">
        <button><p>Delete</p></button>

    </div>
    <div class="update">
        <button><p>Update</p></button>
    </div>
      
</section>
   


<script src="/public/javascript/edit-event.js"></script>
 --}}